@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Keep this for horizontal overflow */
}

html {
  scroll-behavior: smooth;
}